[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "knnwtsim"]
	path = knnwtsim
	url = https://github.com/mtrupiano1/knnwtsim
	shallow = true
	registered = true
